@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.svg-ficon:hover {
  fill: #3b5998;
  filter: drop-shadow(0 0 20px white);
}
/* Now for instagram */
.svg-instaicon:hover {
  fill: #c13584;
  filter: drop-shadow(0 0 20px white);
}
/* Now for twiiter */
.svg-twittericon:hover {
  fill: #1da1f2;
  filter: drop-shadow(0 0 20px white);
}
/* Now for github */
.svg-githubicon:hover {
  fill: indigo;
  filter: drop-shadow(0 0 20px white);
}
/* Now for linkedin */
.svg-linkedinicon:hover {
  fill: #0a66c2;
  filter: drop-shadow(0 0 20px white);
}
body {
  overflow-x: hidden;
  font-family: Kanit;
}
@layer utilities {
  .text-gradient {
    background: linear-gradient(to right, #f1faee, #a8dadc, #457b9d, #1d3557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
    @media screen and (max-width: 768px) {
      font-size: 50px;
      min-height: 50px;
    }
  }
}
/* Button css */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d3557;
  border: none;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px #457b9d;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.6s;
}

.svgIcon path {
  fill: #f1faee;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.6s;
  background-color: #f1faee;
  box-shadow: 0px 0px 0px 4px #f1faee;
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.6s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Know More";
  color: #457b9d;
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.6s;
}

.aboutDiv {
  @media screen and (max-width: 1207px) {
    padding-right: 35px;
    padding-left: 35px;
  }
}
